---
import Layout from "../layouts/Layout.astro";

import Hero from "../components/Hero.astro";
import About from "../components/About.astro";
import Menu from "../components/Menu.astro";
import Separator from "../components/Separator.astro";
import Stores from "../components/Stores.astro";
import Experience from "../components/Experience.astro";
import Partners from "../components/Partners.astro";
---

<Layout
  title="MOMO landing"
  description="MOMO Coffee landing Page"
>
  <main>
    <Hero />
    <About />
    <Menu />
    <Separator />
    <Stores />
    <Experience />
    <Partners />
  </main>
</Layout>
