---
import "../styles.css";

---

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <title>Terminos y condiciones</title>
    </head>
    <body class="font-[Stacion] w-[80%] m-auto text-xl">

<p class="h-12"><p/>

        <p>
            <b>TÉRMINOS Y CONDICIONES DE USO DEL SOFTWARE&nbsp;&nbsp;</b>
                     </p><p>
                       <b
                         >A TRAVÉS DE PLATAFORMA DIGITAL O APLICACIÓN WEB Y/O MÓVIL.</b>
                     </p><p>&nbsp;</p><p>
                       <span style="font-weight: 300;"
                         >Los Términos y Condiciones de uso que a continuación se
                         presentan (los “</span
                       ><span style="font-weight: 300;">Términos</span><span
                         style="font-weight: 300;"
                         >”)&nbsp;constituyen el acuerdo íntegro entre MOMO KAWA,
                         S.A.P.I. de C.V., sus filiales y/o subsidiarias, y/o sus
                         partes relacionadas (“</span
                       ><span style="font-weight: 300;">MOMO</span><span
                         style="font-weight: 300;"
                         >”), quien es legítimo propietario o autorizado para
                         comercializar y usar el Software denominado “momocoffee” para
                         su acceso vía web o a través de la aplicación móvil
                       </span><a href="http://www.momocoffee.app"
                         ><span style="font-weight: 300;">www.momocoffee.app</span></a
                       ><span style="font-weight: 300;">&nbsp; (la “</span><span
                         style="font-weight: 300;">Plataforma</span
                       ><span style="font-weight: 300;"
                         >”) con domicilio en Avenida Insurgentes Sur No. 670 Piso 5B
                         en la colonia Del Valle Centro, Delegación Benito Juaréz,
                         CDMX, 03100 (el “</span
                       ><span style="font-weight: 300;">Domicilio</span><span
                         style="font-weight: 300;"
                         >”), dirección electrónica
                       </span><a href="http://www.momocoffee.mx"
                         ><span style="font-weight: 300;">www.momocoffee.mx</span></a
                       ><span style="font-weight: 300;">&nbsp; (el “</span><span
                         style="font-weight: 300;">Sitio</span
                       ><span style="font-weight: 300;"
                         >”) y con correo electrónico de contacto
                       </span><a href="mailto:info@momocoffee.app"
                         ><span style="font-weight: 300;">info@momocoffee.app</span></a
                       ><span style="font-weight: 300;">&nbsp; (el “</span><span
                         style="font-weight: 300;">Correo Electrónico</span
                       ><span style="font-weight: 300;"
                         >”); y la persona física y/o moral que acceda a ella. La
                         utilización de la Plataforma, por parte de cualquier persona,
                         le atribuye la calidad de usuario (el “</span
                       ><span style="font-weight: 300;">Usuario</span><span
                         style="font-weight: 300;"
                         >”) y ello implica su adhesión plena e incondicional a estos
                         Términos.</span>
                     </p><p>&nbsp;</p><ol><li><b> OBJETO</b></li></ol><p>
                       <span style="font-weight: 300;"
                         >MOMO pone la Plataforma a disposición del Usuario, como una
                         herramienta tecnológica de acceso mediante dispositivos
                         digitales electrónicos, tales como: computadora, teléfono
                         inteligente,
                       </span><i><span style="font-weight: 300;">tablet</span></i><span
                         style="font-weight: 300;"
                         >, etc.; con la finalidad principal de brindar el servicio de
                         información de los servicios y productos alimenticios y
                         bebidas que ofrece MOMO al público, así como la orden y
                         entrega de bebidas no alcohólicas y alimentos elaborados por
                         MOMO o por terceros (los “</span
                       ><span style="font-weight: 300;">Servicios</span><span
                         style="font-weight: 300;"
                         >”). Toda la información, datos e imágenes publicadas en la
                         Plataforma son proporcionadas por MOMO, o por personas
                         vinculadas de manera directa o indirecta con él (los “</span
                       ><span style="font-weight: 300;">Contenidos</span><span
                         style="font-weight: 300;"
                         >”). Para MOMO es muy importante la satisfacción del Usuario
                         respecto a los Servicios brindados a través de la Plataforma,
                         no obstante lo anterior, MOMO no garantiza la resolución
                         efectiva de todas las necesidades del Usuario.</span>
                     </p><p>&nbsp;</p><p>
                       <span style="font-weight: 300;"
                         >Los Servicios se prestan en la modalidad de
                       </span><i
                         ><span style="font-weight: 300;">Platform as a Service</span
                         ></i
                       ><span style="font-weight: 300;"> (el “</span><span
                         style="font-weight: 300;">PaaS</span
                       ><span style="font-weight: 300;"
                         >”), que implica que el Usuario tiene acceso a los Servicios
                         contenidos en la nube (como se define más adelante), cuyo pago
                         puede ser procesado a través del uso de determinados motores
                         de pago dispuestos por MOMO o mediante el método de pago en
                         efectivo, según haya elegido el Usuario al crear una orden de
                         servicio. El Software tiene las siguientes
                         funcionalidades:&nbsp;&nbsp;</span>
                     </p><p>&nbsp;</p><ol>
                       <li
                         style="font-weight: 300;"
                         aria-level="1"
                       >
                         <span style="font-weight: 300;">Registro del Usuario.</span
                         ><span style="font-weight: 300;">
                           Mediante la recabación de información necesaria para la
                           identificación del Usuario.</span>
                       </li><li
                         style="font-weight: 300;"
                         aria-level="1"
                       >
                         <span style="font-weight: 300;">Generación de comanda</span
                         ><span style="font-weight: 300;"
                           >. Ya sea a través de los módulos digitales dispuestos por
                           MOMO o mediante la aplicación móvil de la Plataforma, el
                           Usuario podrá generar la comanda de los productos de su
                           elección con base en las imágenes y datos publicados por
                           MOMO en la Plataforma.&nbsp;</span>
                       </li><li
                         style="font-weight: 300;"
                         aria-level="1"
                       >
                         <span style="font-weight: 300;">Elección de consumo</span
                         ><span style="font-weight: 300;"
                           >; donde el Usuario podrá definir entre las opciones de
                           consumo en sitio, pedido por anticipado (</span
                         ><i><span style="font-weight: 300;">pre order) </span></i
                         ><span style="font-weight: 300;"
                           >&nbsp;o envio a domicilio, a través de las plataformas de
                           entrega operados por los socios comerciales de MOMO.</span>
                       </li><li
                         style="font-weight: 300;"
                         aria-level="1"
                       >
                         <span style="font-weight: 300;">Pago en Línea</span><span
                           style="font-weight: 300;"
                           >. Con base a la comanda y elección de comanda que genere el
                           Usuario, MOMO pone a disposición del mismos diferentes
                           medios de pago y uso de motores de pago de terceros.&nbsp;</span>
                       </li>
                     </ol><p>&nbsp;</p><p>
                       <span style="font-weight: 300;"
                         >El Usuario acepta cumplir con todos y cada uno de los
                         procedimientos que las leyes aplicables señalen, respecto a la
                         adquisición de servicios en línea o digitales; y, por su
                         parte, MOMO se compromete a respetar y hacer cumplir los
                         derechos del Usuario y dar un correcto uso a los datos que se
                         recaben con dicho propósito, conforme al Aviso de Privacidad
                         que se encuentra en la Plataforma.</span>
                     </p><p>&nbsp;</p><ol start="2">
                       <li><b> USO CONTRACTUAL DE LA PLATAFORMA.</b></li>
                     </ol><p>
                       <span style="font-weight: 300;"
                         >En virtud de los presentes Términos, MOMO autoriza y otorga
                         al</span
                       ><span style="font-weight: 300;"> Usuario </span><span
                         style="font-weight: 300;"
                         >el uso y goce de 1 (una) licencia de uso de</span
                       ><span style="font-weight: 300;">
                         la Plataforma para
                       </span><span style="font-weight: 300;"
                         >uso personal, misma que implica el registro y acceso de la
                         misma. Dicho otorgamiento se realiza bajo la modalidad “</span
                       ><i><span style="font-weight: 300;">as is</span></i><span
                         style="font-weight: 300;"
                         >”, temporal, de manera no exclusiva, no comercializable y no
                         sublicenciable, para la adquisición de los Servicios.</span>
                     </p><p>&nbsp;</p><p>
                       <span style="font-weight: 300;">Contratación Electrónica</span
                       ><span style="font-weight: 300;"
                         >. El Usuario reconoce que el uso y acceso a la Plataforma
                         incluye la capacidad de celebrar contratos para adquirir los
                         Servicios y/o a realizar transacciones electrónicamente. Por
                         lo anterior, el Usuario reconoce que los envíos electrónicos
                         constituyen su aceptación e intención de obligarse y pagar, en
                         tiempo y forma, por tales servicios y transacciones. Dicha
                         obligación se considerará aplicable a todos los registros
                         relacionados a todas las transacciones que se realicen a
                         través de la Plataforma y los Servicios, incluyendo los avisos
                         de cancelación, políticas de uso, contratos y aplicaciones.</span>
                     </p><p>&nbsp;</p><p>
                       <span style="font-weight: 300;">Hospedaje</span><span
                         style="font-weight: 300;"
                         >. MOMO hospedará las Licencias en la nube de su elección
                         (nube significa espacio de procesamiento y almacenamiento de
                         datos y aplicaciones en servidores físicos que están en un
                         Centro de Datos de algún tercero). El hospedaje tiene una
                         disponibilidad adecuada. No obstante lo anterior, MOMO no será
                         responsable de cualquier caída, ausencia total o parcial de
                         disponibilidad, ni de pérdida total o parcial de datos.</span>
                     </p><p>&nbsp;</p><p>
                       <span style="font-weight: 300;">Veracidad de datos</span><span
                         style="font-weight: 300;"
                         >. El Usuario reconoce que MOMO no realizará investigación
                         alguna para validar la exactitud y veracidad de los datos
                         provistos por el Usuario, por lo que en caso que presentan
                         omisiones, inexactitudes o errores, libera de cualquier
                         responsabilidad a MOMO, respecto de cualquier daño o perjuicio
                         que dichos actos pudieran causarle.&nbsp;</span>
                     </p><p>&nbsp;</p><p>
                       <span style="font-weight: 300;">Vigencia</span><span
                         style="font-weight: 300;"
                         >. Queda entendido que la suscripción a los Servicios tendrá
                         una vigencia indefinida, hasta en tanto no exista una
                         instrucción de baja, bloqueo o cancelación por parte del
                         Usuario, la cual deberá ser solicitada por escrito al Correo
                         Electrónico. No obstante, y sin perjuicio de lo anterior, los
                         cargos correspondientes a cada Servicio se generarán de
                         conformidad a la temporalidad especificada para cada uno, en
                         tanto el mismo no sea cancelado en los términos descritos en
                         el presente párrafo. Si el Usuario cancela los Servicios,
                         deberá pagar los servicios que se hayan prestado hasta la
                         fecha de terminación efectiva.</span>
                     </p><p>&nbsp;</p><p>
                       <span style="font-weight: 300;">Terminación</span><span
                         style="font-weight: 300;"
                         >. MOMO, a su absoluta discreción, podrán dar por terminados
                         los Servicios, en cualquier momento, bastando para ello un
                         aviso simple por escrito en la Plataforma .</span>
                     </p><p>&nbsp;</p><p>
                       <span style="font-weight: 300;">Precio</span><span
                         style="font-weight: 300;"
                         >.
                       </span><span style="font-weight: 300;"
                         >El Usuario pagará a MOMO por los productos elegidos al
                         ingresar a la Plataforma. El precio de los productos
                         dispuestos en la Plataforma,
                       </span><span style="font-weight: 300;"
                         >podrán variar de tiempo en tiempo, y a discreción única de
                         MOMO, por lo que MOMO no será responsable de cualquier
                         menoscabo que dicha alteración de precio pudiera causar al
                         Usuario.&nbsp;</span>
                     </p><p>&nbsp;</p><p>
                       <span style="font-weight: 300;">Métodos de Pago</span><span
                         style="font-weight: 300;"
                         >. El Usuario se obliga a realizar el pago de los Servicios en
                         pesos mexicanos. El cobro de los Servicios, incluyendo
                         cualquier impuesto aplicable, se realizará a través de los
                         motores de pago dispuestos y publicados en la Plataforma,
                         ofreciendo diferentes modalidades de pago que deberá elegir al
                         crear cada orden de servicio, siendo estos: (i) pago en
                         efectivo a contraentrega de la orden solicitada; (ii) cargo
                         directo a tarjeta de crédito; o (ii) cargo directo a tarjeta
                         de débito; o (iii) mediante el uso de los motores de
                         pago.&nbsp;</span>
                     </p><p>
                       <span style="font-weight: 300;"><br /></span><span
                         style="font-weight: 300;"
                         >El Usuario, como único responsable del pago de los Servicios,
                         se obliga a proporcionar datos reales, válidos y vigentes de
                         la tarjeta de crédito, tarjeta de débito o los datos
                         solicitados en los motores de pagos, donde se realizará el
                         cargo de la orden de servicio correspondiente. De igual
                         manera, el Usuario declara y garantiza en este acto que los
                         recursos económicos que serán invertidos para el pago de todas
                         y cada una de las obligaciones conferidas al uso de los
                         Servicios de la Plataforma provienen de fuentes y/o
                         actividades lícitas.</span
                       >
                       <span style="font-weight: 300;"
                         >&nbsp;En caso de que MOMO no pueda realizar el mencionado
                         cargo al motor de pago elegido por el Usuario, MOMO se reserva
                         el derecho de revocar o restringir el acceso del Usuario a los
                         Servicios hasta en tanto el pago sea realizado en su
                         totalidad.&nbsp;&nbsp;</span>
                     </p><p>&nbsp;</p><p>
                       <span style="font-weight: 300;"
                         >Cualquier cargo operativo, o tasa establecidos por los
                         servicios ofrecidos a través de servidores o portales de
                         terceros (motores de pago o bancos), están completamente
                         regulados por términos y condiciones dispuestos por dichos
                         terceros o por las leyes aplicables, por lo cual el Usuario
                       </span><span style="font-weight: 300;"
                         >deslinda en este acto a MOMO de cualquier responsabilidad
                         respecto a la forma, tiempo y cantidad en que sean efectuados
                         los cobros, aún cuando dicho cobro sea considerado excedido,
                         indebido o que viole algún derecho del Usuario. De esta forma,
                         el Usuario se obliga a mantener en paz y a salvo en todo
                         momento a MOMO de cualquier proceso judicial que se llegare a
                         entablar por razón del uso de servidores o portales de
                         terceros.</span>
                     </p><p>&nbsp;</p><p>
                       <span style="font-weight: 300;"
                         >Cualquier cambio en la forma de pago del Usuario, deberá ser
                         realizado en la Plataforma. Dicho cambio podrá generar la
                         interrupción temporal del acceso a los Servicios, mientras se
                         realiza la verificación de la nueva información
                         otorgada.&nbsp;</span>
                     </p><p>&nbsp;</p><p>
                       <span style="font-weight: 300;">Facturación.</span><span
                         style="font-weight: 300;"
                       >
                         En caso de que el Usuario requiera comprobante fiscal, deberá
                         solicitar el mismo al correo electrónico o página web del
                         sistema de facturación que a este efecto se indique en el
                         ticket de compra para su emisión o. Es condición
                         imprescindible para la emisión de dicho comprobante, que el
                         Usuario compruebe fehacientemente el pago de los Servicios en
                         cuestión.&nbsp;</span>
                     </p><p>&nbsp;</p><p>
                       <span style="font-weight: 300;"
                         >Comunicaciones de marketing
                       </span><span style="font-weight: 300;"
                         >El Usuario acepta que MOMO podrá contactarle periódicamente,
                         vía correo electrónico a la dirección de correo electrónico
                         asociada a su cuenta de registro, con comunicaciones
                         relacionadas con los Servicios, ya sean de: i) promoción de
                         productos propios o de terceros; ii) mejora en el servicio;
                         iii) cambios en los Servicios, etc.</span>
                     </p><p>&nbsp;</p><ol start="3">
                       <li><b> USO Y ACCESO A LA PLATAFORMA</b></li>
                     </ol><p>
                       <span style="font-weight: 300;"
                         >Para acceder a los Servicios</span
                       ><span style="font-weight: 300;"
                         >, es necesario ser mayor de edad y proporcionar la
                         información requeri</span
                       ><span style="font-weight: 300;">da para crear una cuenta,</span
                       ><span style="font-weight: 300;">
                         de tal manera que es responsabilidad del Usuario mantener la
                         información verídica, exacta, actualizada y disponible. Los
                         Productos publicados en la Plataforma de MOMO podrán ser
                         adquiridos para uso de menores de edad, siempre y cuando sean
                         solicitados por persona mayor de edad y con capacidad jurídica
                         y económica para asumir las obligaciones y responsabilidades
                         que dicho acto gener</span
                       ><span style="font-weight: 400;">e. </span><span
                         style="font-weight: 300;"
                         >La falta de actualización de su cuenta dará lugar a que no
                         pueda acceder y utilizar los Servicios, así como la suspensión
                         o cancelación de esta.</span>
                     </p><p>&nbsp;</p><p>
                       <span style="font-weight: 300;"
                         >El Usuario es el único responsable frente a MOMO, y cualquier
                         tercero, respecto de su conducta al acceder, consultar y
                         proporcionar información en la Plataforma y de las
                         consecuencias que se puedan derivar de una utilización, con
                         fines o efectos ilícitos o contrarios al objeto de la
                         Plataforma, su contenido, elaborado o no por MOMO, publicado o
                         no bajo su nombre de forma oficial; así como aquellas
                         consecuencias que se puedan derivar de la utilización
                         contraria al contenido de estos Términos que sea lesiva de los
                         intereses o derechos de terceros, o que de cualquier forma
                         pueda dañar, inutilizar o deteriorar la Plataforma e impedir
                         el normal disfrute de otros usuarios.</span>
                     </p><p>&nbsp;</p><ol start="4">
                       <li><b> USO DE OTROS PRODUCTOS Y SERVICIOS&nbsp;</b></li>
                     </ol><p>
                       <span style="font-weight: 300;"
                         >Los componentes o las funciones de los Servicios, incluidos
                         aquellos que implican la compra y descarga de productos o
                         servicios adicionales, requieren un software diferente u otros
                         acuerdos de licencia o términos de uso, por lo que el Usuario
                         deberá leer, aceptar y obligarse a aquellos términos de uso
                         establecidos, de manera independiente, como condición para
                         poder utilizar estos componentes o características
                         particulares del Servicio</span
                       ><span style="font-weight: 300;">.</span>
                     </p><p>&nbsp;</p><ol start="5">
                       <li><b> IMPRECISIONES DE LA PLATAFORMA</b></li>
                     </ol><p>
                       <span style="font-weight: 300;"
                         >El Contenido de la Plataforma y/o de los Servicios provistos,
                         pueden contener inexactitudes y/o errores tipográficos. MOMO
                         no garantiza la exactitud del Contenido y se reserva el
                         derecho, a su entera discreción, de corregir cualquier error u
                         omisión en cualquier parte de la Plataforma y/o los Servicios
                         y a realizar cualquier cambio en las características,
                         funcionalidad o Contenido en cualquier momento. MOMO, así como
                         cualquier persona relacionada y/o afiliada a MOMO, incluyendo,
                         sin limitar, directores, apoderados, representantes,
                         administradores, empleados, accionistas y/o agentes, presentes
                         o anteriores, o aliados, no serán responsables de errores u
                         omisiones en los Contenidos de la Plataforma.</span>
                     </p><p>&nbsp;</p><ol start="6">
                       <li><b> ESTANCIA EN LA PLATAFORMA</b></li>
                     </ol><p>
                       <span style="font-weight: 300;"
                         >El Usuario es el único responsable frente a MOMO, y cualquier
                         tercero, respecto de su conducta al acceder, consultar y
                         proporcionar información en la Plataforma y de las
                         consecuencias que se puedan derivar de una utilización, con
                         fines o efectos ilícitos o contrarios al objeto de la
                         Plataforma, su contenido, elaborado o no por MOMO, publicado o
                         no bajo su nombre de forma oficial; así como aquellas
                         consecuencias que se puedan derivar de la utilización
                         contraria al contenido de estos Términos que sea lesiva de los
                         intereses o derechos de terceros, o que de cualquier forma
                         pueda dañar, inutilizar o deteriorar la Plataforma e impedir
                         el normal disfrute de otros usuarios</span>
                     </p><p>&nbsp;</p><ol start="7">
                       <li><b> RESPONSABILIDAD RESPECTO A LOS CONTENIDOS</b></li>
                     </ol><p>
                       <span style="font-weight: 300;"
                         >Uso correcto de los Contenidos.</span
                       ><span style="font-weight: 300;">
                         El Usuario se compromete a:&nbsp;</span>
                     </p><p>&nbsp;</p><ol>
                       <li
                         style="font-weight: 300;"
                         aria-level="1"
                       >
                         <span style="font-weight: 300;"
                           >utilizar la Plataforma y sus Contenidos de acuerdo a las
                           leyes aplicables y de orden público, absteniéndose de
                           realizar acto que menoscabe, deteriore, inutilice o dañe la
                           imagen y/o información divulgada por MOMO o de alguna manera
                           lesione derechos o intereses de terceras personas,
                           vinculadas directa o indirectamente a éste;&nbsp;</span>
                       </li><li
                         style="font-weight: 300;"
                         aria-level="1"
                       >
                         <span style="font-weight: 300;"
                           >no copiar, difundir, modificar, reproducir, distribuir o
                           utilizar de manera alguna con o sin fines de lucro los
                           contenidos y los elementos utilizados en la Plataforma, a
                           menos que se cuente con la autorización expresa y por
                           escrito de MOMO;&nbsp;</span>
                       </li><li
                         style="font-weight: 300;"
                         aria-level="1"
                       >
                         <span style="font-weight: 300;"
                           >no modificar o manipular las marcas, logotipos, avisos
                           comerciales, nombres comerciales y signos distintivos en
                           general de MOMO, de la Plataforma o de las personas
                           vinculadas con MOMO (salvo que cuente con su autorización
                           por escrito);&nbsp;</span>
                       </li><li
                         style="font-weight: 300;"
                         aria-level="1"
                       >
                         <span style="font-weight: 300;"
                           >suprimir, eludir o modificar los Contenidos y los elementos
                           utilizados en la Plataforma, así como los dispositivos
                           técnicos de protección, o cualquier mecanismo o
                           procedimiento establecido en la Plataforma.</span>
                       </li>
                     </ol><p>&nbsp;</p><p>
                       <span style="font-weight: 300;"
                         >Queda excluida de los puntos anteriores, aquella información
                         generada a través de
                       </span><span style="font-weight: 300;">la Plataforma</span><span
                         style="font-weight: 300;"
                       >
                         para uso y manejo del Usuario, misma que podrá ser impresa y/o
                         copiada para los intereses que más convengan al mismo. En caso
                         de que el Usuario sea una persona moral, se apegará a lo
                         dispuesto por el artículo 148, fracción IV de la Ley Federal
                         del Derecho de Autor.</span
                       ><span style="font-weight: 300;"> El </span><span
                         style="font-weight: 300;"
                         >Usuario
                       </span><span style="font-weight: 300;"
                         >reconoce y acepta que el uso de la Plataforma y de los
                         Contenidos, es bajo su exclusiva y estricta responsabilidad,
                         por lo que MOMO no será, en ningún momento y bajo ninguna
                         circunstancia, responsable por cualquier desperfecto o
                         problema que se presente en el equipo de cómputo (hardware) o
                         programas de cómputo (software) que utilice el Usuario para
                         acceder o navegar en cualquier parte de la Plataforma.&nbsp;</span>
                     </p><p>&nbsp;</p><p>
                       <span style="font-weight: 300;">MOMO</span><span
                         style="font-weight: 300;"
                       >
                         tiene derecho a realizar, durante intervalos temporales
                         definidos, campañas promocionales para promover el registro de
                         nuevos miembros en la Plataforma. MOMO se reserva el derecho
                         de modificar los términos y condiciones de los Servicios, así
                         como de proceder a la exclusión de cualquiera de los mismos.</span
                       >
                       <span style="font-weight: 300;"
                         >MOMO declara que todos los Contenidos, y los elementos
                         utilizados en la Plataforma, se encuentran debidamente
                         registrados y protegidos bajo las autoridades y leyes
                         correspondientes en México. El Usuario se obliga a respetar
                         todos los derechos contenidos en el Aviso de Derecho de Autor
                         establecido en la Plataforma.</span>
                     </p><p>&nbsp;</p><p>
                       <span style="font-weight: 300;"
                         >Plataforma y contenidos ajenos a la Plataforma y a los
                         Contenidos de MOMO</span
                       ><span style="font-weight: 300;"
                         >. MOMO podrá hacer uso de su derecho de publicación de
                         cualquier material informativo y/o de sitios o subsitios
                         propiedad de terceros, vinculados o no a MOMO, que considere
                         de interés para los Usuarios. No obstante lo anterior, MOMO se
                         deslinda de toda responsabilidad, del acceso y/o uso que
                         realice el Usuarios de la información ahí contenida y/o del
                         uso, origen y destino de la información que se desprenda de
                         ligas distintas (vínculo, hipervínculo,
                       </span><i><span style="font-weight: 300;">link</span></i><span
                         style="font-weight: 300;"
                         >). Toda publicación realizada dentro de la Plataforma, por
                         parte de los Usuarios, no genera obligación de pago ante
                         terceros por razón de promoción, publicación y/o manejo de
                         información y/o imagen, a menos que se cuente con un contrato
                         previamente firmado con MOMO.</span>
                     </p><p>&nbsp;</p><p>
                       <span style="font-weight: 300;"
                         >Negación y retiro de acceso a la Plataforma y los Contenidos</span
                       ><span style="font-weight: 300;"
                         >. MOMO se reserva el derecho a negar o retirar el acceso a la
                         Plataforma, o sus Contenidos, en cualquier momento, sin
                         responsabilidad alguna para MOMO y sin previo aviso al Usuario
                         o usuarios que incumplan de manera total o parcial con las
                         condiciones aquí establecidas y/o que realicen acciones o
                         actos tendientes a:&nbsp;</span>
                     </p><p>&nbsp;</p><ol>
                       <li
                         style="font-weight: 300;"
                         aria-level="1"
                       >
                         <span style="font-weight: 300;"
                           >“asediar» o de otra manera acosar o molestar a otros
                           Usuarios;</span>
                       </li><li
                         style="font-weight: 300;"
                         aria-level="1"
                       >
                         <span style="font-weight: 300;"
                           >hacerse pasar como representante o empleado de MOMO,
                           realizando declaraciones falsas o de otro modo erróneas de
                           su vinculación con MOMO;</span>
                       </li><li
                         style="font-weight: 300;"
                         aria-level="1"
                       >
                         <span style="font-weight: 300;"
                           >recopilar o almacenar datos personales de otros usuarios en
                           relación con la conducta y las actividades prohibidas;&nbsp;</span>
                       </li><li
                         style="font-weight: 300;"
                         aria-level="1"
                       >
                         <span style="font-weight: 300;"
                           >falsificar encabezados o manipular identificadores de la
                           Plataforma, con la finalidad de ocultar el origen de los
                           Contenidos;</span>
                       </li><li
                         style="font-weight: 300;"
                         aria-level="1"
                       >
                         <span style="font-weight: 300;"
                           >cargar, publicar, enviar por correo electrónico, transmitir
                           o proporcionar de otro modo, cualquier contenido respecto
                           del cual no tenga derecho a transmitir, en virtud de los
                           términos contenidos en la Ley Federal de Protección a la
                           Propiedad Industrial (“</span
                         ><span style="font-weight: 300;">LFPPI</span><span
                           style="font-weight: 300;"
                           >”), la Ley Federal del Derecho de Autor (“</span
                         ><span style="font-weight: 300;">LFDA</span><span
                           style="font-weight: 300;"
                           >”), y la Ley Federal de Protección de Datos Personales en
                           Posesión de Particulares&nbsp; (“</span
                         ><span style="font-weight: 300;">LFPDPPP</span><span
                           style="font-weight: 300;"
                           >”) o de relaciones contractuales protegidos por convenios
                           de confidencialidad y no divulgación;&nbsp;</span>
                       </li><li
                         style="font-weight: 300;"
                         aria-level="1"
                       >
                         <span style="font-weight: 300;"
                           >cargar, publicar, enviar por correo electrónico, transmitir
                           o proporcionar de otro modo, materiales que contengan virus
                           informáticos o cualquier otro código informático, archivos o
                           programas diseñados para interrumpir, destruir o limitar la
                           funcionalidad del software, hardware o de equipos de
                           telecomunicaciones conectados a la Plataforma;&nbsp;</span>
                       </li><li
                         style="font-weight: 300;"
                         aria-level="1"
                       >
                         <span style="font-weight: 300;"
                           >hacer uso de la Plataforma de una manera que pudiera dañar,
                           deshabilitar, recargar o alterar los servidores de MOMO o
                           las conexiones de redes;</span>
                       </li><li
                         style="font-weight: 300;"
                         aria-level="1"
                       >
                         <span style="font-weight: 300;"
                           >ignorar requisitos, procedimientos, políticas o normas de
                           redes conectadas a la Plataforma que pudieran interferir con
                           el uso y goce de la Plataforma por parte de cualquier
                           tercero; y</span>
                       </li><li
                         style="font-weight: 300;"
                         aria-level="1"
                       >
                         <span style="font-weight: 300;"
                           >acceder de manera no autorizada a cuentas, sistemas
                           informáticos o redes conectadas a los servidores de MOMO, a
                           través de ataques propios de piratas informáticos, el
                           descifrado de contraseñas o cualquier otro método para
                           obtener o tratar de obtener materiales o información con
                           cualquier medio que no se ofrece intencionalmente a través
                           de la Plataforma.&nbsp;</span>
                       </li>
                     </ol><p>&nbsp;</p><p>
                       <span style="font-weight: 300;"
                         >El Usuario acepta indemnizar y mantener en paz y a salvo a
                         MOMO</span
                       >
                       <span style="font-weight: 300;"
                         >y sus funcionarios, agentes, empleados, socios, proveedores y
                         licenciantes frente a cualquier reclamo o demanda, así como a
                         cubrir los honorarios razonables de abogados, que promueva
                         cualquier tercero en contra de MOMO</span
                       >
                       <span style="font-weight: 300;"
                         >a causa del contenido que el Usuario envíe, publique,
                         transmita o proporcione de un modo distinto al previsto en
                       </span><span style="font-weight: 300;">la Plataforma</span><span
                         style="font-weight: 300;"
                         >.
                       </span><span style="font-weight: 300;"
                         >Lo anterior, sin perjuicio del derecho de MOMO de
                       </span><span style="font-weight: 300;"
                         >realizar las acciones judiciales necesarias para reclamar los
                         daños y perjuicios que dichas acciones por parte del Usuario
                         pudieran causarle</span
                       ><span style="font-weight: 300;">.&nbsp;</span>
                     </p><p>&nbsp;</p><p>
                       <span style="font-weight: 300;"
                         >Responsabilidad respecto a los Contenidos</span
                       ><span style="font-weight: 300;"
                         >. MOMO no asume responsabilidad alguna derivada, de manera
                         enunciativa más no limitativa de: (i) la utilización que el
                         Usuario pueda hacer de los materiales de esta Plataforma, o de
                         los Contenidos, o de los sitios web de enlace, ya sean
                         prohibidos o permitidos, en infracción de los derechos de
                         propiedad intelectual y/o industrial de contenidos de la web o
                         de terceros; (ii) los eventuales daños y perjuicios al Usuario
                         causados por un funcionamiento normal o anormal de las
                         herramientas de búsqueda, de la organización o la localización
                         de los Contenidos y/o acceso a la Plataforma y, en general, de
                         los errores o problemas que se generen en el desarrollo o
                         instrumentación de los elementos técnicos que la Plataforma
                         facilite al Usuario; (iii) los contenidos de aquellas páginas
                         a las que el Usuario pueda acceder desde enlaces incluidos en
                         la Plataforma, ya sean autorizados o no; (iv) los actos u
                         omisiones de terceros, independientemente de la relación que
                         dichos terceros pudieran tener con MOMO; (v) el acceso de
                         menores de edad a los Contenidos, así como el envío de
                         información personal que estos pudieran realizar; (vi) las
                         comunicaciones o diálogos en el transcurso de los debates,
                         foros, chats y comunidades virtuales que se organicen a través
                         de o en torno a la Plataforma de enlace, ni responderá, por
                         tanto, de los eventuales daños y perjuicios que sufra el
                         Usuario a consecuencia de dichas comunicaciones y/o diálogos;
                         etc.&nbsp;</span>
                     </p><p>&nbsp;</p><p>
                       <span style="font-weight: 300;"
                         >Responsabilidad respecto a fallas tecnológicas</span
                       ><span style="font-weight: 300;"
                         >. MOMO no será responsable en forma alguna, cuando se
                         produzcan: (i) errores o retrasos en el acceso a la Plataforma
                         a la hora de introducir los datos en el formulario de
                         solicitud, la lentitud o imposibilidad de recepción por parte
                         de los destinatarios de la confirmación de la solicitud o
                         cualquier anomalía que pueda surgir cuando tales incidencias
                         sean debidas a problemas en la red Internet, caso fortuito o
                         fuerza mayor o cualquier otra contingencia imprevisible ajena
                         a MOMO; (ii) fallos o incidencias que pudieran producirse en
                         las comunicaciones, ya sea borrándose o por transmisiones
                         incompletas, de manera que no se garantiza que los servicios
                         de la Plataforma estén constantemente operativos; (iii) de los
                         errores o daños producidos a la Plataforma por un mal uso del
                         servicio por parte del Usuario; (iv) de la no operatividad o
                         problemas en la dirección de correo electrónico facilitada por
                         el Usuario para el envío de la confirmación de la solicitud
                         realizada. En todo caso, MOMO se compromete a solucionar los
                         problemas que puedan surgir y a ofrecer todo el apoyo
                         necesario al Usuario para llegar a una solución rápida y
                         satisfactoria de la incidencia. MOMO se reserva el derecho de
                         modificar las condiciones de uso, así como proceder a la
                         exclusión de cualquiera de los términos allí contenidos.</span>
                     </p><p>&nbsp;</p><ol start="8">
                       <li><b> DE LOS DATOS SOLICITADOS</b></li>
                     </ol><p>
                       <span style="font-weight: 300;"
                         >El Usuario reconoce y acepta que, para e</span
                       ><span style="font-weight: 300;"
                         >l cumplimiento del objetivo de la Plataforma, será necesario
                         que MOMO recabe datos personales y datos personales sensibles,
                         a fin de incluirla en formatos, listados, bases de datos u
                         otros medios físicos, digitales y/o electrónicos, para llevar
                         a cabo el registro adecuado de los mismos y ofrecer los
                         Servicios. MOMO no se responsabiliza de las consecuencias que
                         pudieran derivarse de la omisión, consciente o inconsciente,
                         hecha por parte del Usuario al respecto.&nbsp;</span>
                     </p><p>&nbsp;</p><p>
                       <span style="font-weight: 300;"
                         >Por tal motivo, mediante la aceptación a los presentes
                         Términos, el Usuario renuncia expresamente a presentar
                         cualquier tipo de reclamación, demanda, juicio o procedimiento
                         legal ante cualquier autoridad mexicana o extranjera en contra
                         de MOMO, así como cualquier persona relacionada y/o afiliada a
                         MOMO, incluyendo, sin limitar, directores, apoderados,
                         representantes, administradores, empleados, accionistas y/o
                         agentes, presentes o anteriores, por cualquier acto que se
                         derive, o pudiere derivar, del uso de la Plataforma y de los
                         Servicios, o de cualquier servicio derivado de dicho uso.</span>
                     </p><p>&nbsp;</p><ol start="9">
                       <li><b> DATOS DE CARÁCTER PERSONAL</b></li>
                     </ol><p>
                       <span style="font-weight: 300;"
                         >En cumplimiento a los términos previstos en la LFPDPPP, MOMO,
                       </span><span style="font-weight: 300;"
                         >como responsable del tratamiento de sus datos personales,
                         hace del conocimiento del Usuario que la información que el
                         Usuario provea en esta
                       </span><span style="font-weight: 300;">Plataforma </span><span
                         style="font-weight: 300;"
                         >será tratada de conformidad con lo indicado en el Aviso de
                         Privacidad contenido en
                       </span><span style="font-weight: 300;">la Plataforma</span><span
                         style="font-weight: 300;"
                         >.
                       </span><span style="font-weight: 300;"
                         >Para utilizar o gozar de algunos de los Contenidos, es
                         necesario que el Usuario proporcione previamente a MOMO
                         ciertos datos de carácter personal (“</span
                       ><span style="font-weight: 300;">Datos Personales</span><span
                         style="font-weight: 300;">”).&nbsp;</span>
                     </p><p>&nbsp;</p><p>
                       <span style="font-weight: 300;">Al acceder a </span><span
                         style="font-weight: 300;">la Plataforma</span
                       ><span style="font-weight: 300;"
                         >, o a cualquiera de los Contenidos en que los Datos
                         Personales son requeridos, el Usuario está autorizando a MOMO
                         a realizar análisis y estudios con base en ellos. El Usuario
                         se obliga a proporcionar Datos Personales verdaderos y
                         fidedignos. En caso de que el Usuario diera información falsa
                         o confusa, MOMO no asume responsabilidad alguna de los
                         resultados que dichos actos ocasionen al Usuario, teniendo la
                         facultad de negar el acceso a
                       </span><span style="font-weight: 300;"
                         >la Plataforma
                       </span><span style="font-weight: 300;"
                         >y sus Contenidos, sin perjuicio de que pueda requerir las
                         indemnizaciones a que hubiere lugar.&nbsp;</span>
                     </p><p>&nbsp;</p><ol start="10">
                       <li><b> MANEJO DE LOS DATOS E INFORMACIÓN</b></li>
                     </ol><p>
                       <span style="font-weight: 300;"
                         >Toda la información que el Usuario proporcione, durante su
                         acceso a la Plataforma, es de carácter estrictamente
                         confidencial y será manipulada únicamente por personal interno
                         de MOMO. Tal y como se refiere en el Aviso de Privacidad, los
                         Datos Personales de los Usuarios podrán encontrar como fin
                         primario o secundario la promoción de servicios, por lo cual
                         el Usuario, en este acto autoriza y manifiesta su aceptación
                         en la utilización de sus datos para fines estadísticos,
                         promocionales y de mercadotecnia, así como cualquier otro
                         establecido en el presente documento o en el multicitado Aviso
                         de Privacidad.&nbsp;</span>
                     </p><p>&nbsp;</p><ol start="11">
                       <li><b> INDICADORES DE DATOS&nbsp;</b></li>
                     </ol><p>
                       <span style="font-weight: 300;"
                         >La información que el Usuario provea en la Plataforma, real o
                         histórica, se procesa y ordena, para que genere indicadores de
                         datos, mismos que MOMO podrá usar para tomar decisiones
                         pertinentes a su negocio, siempre de manera estadística y no
                         individualizada. El Usuario, en este acto, autoriza el acceso
                         a MOMO a la información proporcionada y generada en la
                         Plataforma, en términos del presente documento y del Aviso de
                         Privacidad.</span>
                     </p><p><br /><br /></p><ol start="12">
                       <li><b> DE LA INFORMACIÓN PROVISTA POR EL USUARIO</b></li>
                     </ol><p>
                       <span style="font-weight: 300;"
                         >El Usuario reconoce y acuerda que MOMO puede, durante la
                         vigencia de los Servicios, depender de o usar datos, material
                         u otra información entregada por el Usuario, y que para ello
                         no requieren investigación independiente alguna o
                         verificación, por lo que MOMO estará facultado para basarse en
                         la exactitud y plenitud de dicha información para prestar los
                         Servicios. El Usuario es responsable de la información que
                         comparten a terceros y a quiénes es compartida, por lo cual se
                         deslinda en este acto de cualquier responsabilidad presente o
                         futura a MOMO.</span>
                     </p><p>&nbsp;</p><p>
                       <span style="font-weight: 300;"
                         >Asimismo, toda la información que el Usuario publiquen por
                         cualquier otro medio pierde de manera inmediata y para siempre
                         el carácter de secrecía y confidencialidad, liberando de toda
                         responsabilidad MOMO respecto a su uso y divulgación, sujeto a
                         los términos y condiciones establecidos en el Aviso de
                         Privacidad, cuando aplique.</span>
                     </p><p>&nbsp;</p><ol start="13">
                       <li>
                         <b>
                           RESPONSABILIDAD Y CALIDAD EN LA PRESTACIÓN DE LOS SERVICIOS</b>
                       </li>
                     </ol><p>
                       <span style="font-weight: 300;"
                         >El Usuario reconoce que la Plataforma es una herramienta
                         tecnológica que es un medio para que el Usuario pueda
                         desarrollar una actividad específico, por lo cual acepta que
                         MOMO no garantiza la calidad, idoneidad y/o disponibilidad de
                         los servicios brindados o solicitados a través del uso de la
                         Plataforma y/o mediante su uso. El Usuario expresamente
                         reconoce y acepta todos y cada uno de los riesgos derivados
                         del uso de la Plataforma, liberando a MOMO de cualquier
                         responsabilidad presente o futura que se pudiera
                       </span><span style="font-weight: 300;"
                         >presentar. En este sentido, MOMO no será responsable frente
                         al Usuario, o cualquier persona relacionada a este, por
                         cualquier tipo de daño o</span
                       ><span style="font-weight: 300;">
                         reclamo derivado de deficiencias en los Servicios, o por
                         cualquier error, omisión y/o falsedad en la información
                         proporcionada por el Usuario, ya sea a través de la Plataforma
                         o cualquier otro medio.</span>
                     </p><p>&nbsp;</p><ol start="14">
                       <li><b> EXCLUSIÓN DE GARANTÍAS Y DE RESPONSABILIDAD</b></li>
                     </ol><p>
                       <span style="font-weight: 300;"
                         >El Usuario es el único responsable del uso que haga a
                       </span><span style="font-weight: 300;"
                         >la Plataforma
                       </span><span style="font-weight: 300;"
                         >y su Contenido. El Usuario reconoce que la información de
                       </span><span style="font-weight: 300;"
                         >la Plataforma
                       </span><span style="font-weight: 300;"
                         >y de los Servicios se proporcionan “como están”, sin ninguna
                         garantía expresa o implícita de comerciabilidad o de aptitud
                         para un fin determinado.
                       </span><span style="font-weight: 300;">MOMO </span><span
                         style="font-weight: 300;"
                         >no garantiza la precisión ni la integridad de la información,
                         textos, gráficos, enlaces u otros elementos contenidos en
                       </span><span style="font-weight: 300;"
                         >la Plataforma
                       </span><span style="font-weight: 300;">o Contenido. </span><span
                         style="font-weight: 300;"
                         >MOMO no garantiza la operación ininterrumpida o libre de todo
                         error de la Plataforma y/o su Contenido. Puesto que toda la
                         información referida en la Plataforma y su Contenido se
                         encuentra en la nube, MOMO no controla ni garantiza la
                         ausencia de virus en los Contenidos, ni la ausencia de otros
                         elementos en los Contenidos que puedan producir alteraciones
                         en el sistema informático del Usuario (software y/o hardware)
                         o en los documentos electrónicos almacenados en su sistema
                         informático.&nbsp;</span>
                     </p><p>&nbsp;</p><p>
                       <span style="font-weight: 300;"
                         >Todo material descargado u obtenido de un modo distinto al
                         previsto en
                       </span><span style="font-weight: 300;">la Plataforma</span><span
                         style="font-weight: 300;"
                         >, será bajo responsabilidad y riesgo único del Usuario,
                         respecto de los daños que pudiera causar en el sistema
                         informático del dispositivo a través del cual realice su
                         conexión y/o la pérdida de datos que derive de la descarga de
                         ese material. En ningún caso, ni
                       </span><span style="font-weight: 300;">MOMO </span><span
                         style="font-weight: 300;"
                         >ni sus proveedores serán responsables de daño alguno derivado
                         del uso de
                       </span><span style="font-weight: 300;"
                         >la Plataforma
                       </span><span style="font-weight: 300;"
                         >o Contenido, o de no poder usarlos
                       </span><span style="font-weight: 300;"
                         >(EN PARTICULAR, SIN LIMITACIÓN ALGUNA, DE LOS DAÑOS DIRECTOS
                         O INDIRECTOS, MORALES, INCIDENTALES, EXCESIVOS, REMOTOS Y/O
                         EVENTUALES, PERJUICIOS, LUCRO CESANTE, INTERRUPCIÓN DE LA
                         ACTIVIDAD COMERCIAL O PÉRDIDA DE INFORMACIÓN O DATOS Y/O
                         INFRACCIONES DE SEGURIDAD), aún cuando se hubiera advertido a
                         MOMO de dicha posibilidad.</span>
                     </p><p>&nbsp;</p><ol start="15">
                       <li><b> USO DE COOKIES</b></li>
                     </ol><p>
                       <span style="font-weight: 300;">MOMO informa </span><span
                         style="font-weight: 300;"
                         >al Usuario que, mediante el uso de cookies y tecnologías
                         similares, busca: i) garantizar la mejor experiencia posible
                         en la Plataforma; y ii) proporcionar al Usuario información
                         sobre sus preferencias de servicios y de mercadeo, ayudándolo
                         así a obtener la información adecuada. En caso de que el
                         Usuario requiera de mayor información respecto al uso de
                         cookies y tecnologías similares,
                       </span><span style="font-weight: 300;">MOMO </span><span
                         style="font-weight: 300;"
                         >pone a su disposición la Política de Uso de Cookies.&nbsp;</span>
                     </p><p>&nbsp;</p><ol start="16">
                       <li>
                         <b> COMPATIBILIDAD DE LOS DISPOSITIVOS ELECTRÓNICOS&nbsp;</b>
                       </li>
                     </ol><p>
                       <span style="font-weight: 300;"
                         >El Usuario será responsable de obtener los dispositivos o
                         hardware que sean compatibles con la Plataforma y los
                         Servicios, toda vez que MOMO no garantiza que estos funcionen
                         correctamente en cualquier dispositivo. De igual manera, el
                         Usuario acepta no utilizar dispositivos, software o cualquier
                         otro medio tendiente a interferir tanto en las actividades y/u
                         operaciones de los Servicios o en la Plataforma o en las bases
                         de datos y/o información que se contenga en el mismo.</span>
                     </p><p>&nbsp;</p><ol start="17">
                       <li><b> MANTENIMIENTO DE LA PLATAFORMA</b></li>
                     </ol><p>
                       <span style="font-weight: 300;"
                         >Para llevar a cabo trabajos de mantenimiento, MOMO se reserva
                         el derecho de suspender el acceso y/o modificar el Contenido,
                         así como a eliminar o deshabilitar el acceso a la Plataforma o
                         a los Servicios, sin previo aviso. El acceso a la Plataforma y
                         los Servicios depende de la disponibilidad de la red que tenga
                         el Usuario, por lo que MOMO no será responsable por cualquier
                         imposibilidad de acceder a la misma, derivada de
                         circunstancias que se encuentren fuera de control de MOMO, así
                         como por caso fortuito o de fuerza mayor. MOMO, cuando lo
                         considere necesario para el correcto funcionamiento de la
                         Plataforma, podrá realizará los parches, actualizaciones,
                         correcciones de “</span
                       ><i><span style="font-weight: 300;">bugs</span></i><span
                         style="font-weight: 300;"
                         >” y mejoras menores a la Plataforma.</span>
                     </p><p>&nbsp;</p><ol start="18"><li><b> SOPORTE</b></li></ol><p>
                       <span style="font-weight: 300;"
                         >MOMO ofrece al Usuario el servicio de soporte técnico y
                         orientación básica para la utilización de las herramientas y
                         las funcionalidades de la Plataforma, pudiendo ser por vía
                         Chat en Línea, correo electrónico, o cualquier otro medio que
                         MOMO considere conveniente y factible, en los horarios
                         indefinidos que de igual forma designe para tal efecto,
                         mediante previo aviso. Este servicio no tendrá ningún costo
                         adicional. Asimismo, el Usuario que hubiere solicitado el
                         Soporte, acepta y autoriza a MOMO para tener acceso pleno a
                         toda la información proporcionada en la Plataforma, sin
                         ninguna limitación. En este sentido y en beneficio del
                         Usuario, MOMO se obliga a guardar plena secrecía y
                         confidencialidad, respecto a la información a la que tenga
                         acceso.</span>
                     </p><p>&nbsp;</p><ol start="19">
                       <li><b> PROPIEDAD INDUSTRIAL Y DERECHO DE AUTOR</b></li>
                     </ol><p>
                       <span style="font-weight: 300;"
                         >MOMO autoriza al Usuario a utilizar la Plataforma,
                         exclusivamente bajo los términos aquí expresados, sin que ello
                         implique que concede al Usuario licencia o autorización
                         alguna, o algún tipo de derecho distinto al antes mencionado,
                         respecto de la Propiedad Industrial y Derecho de Autor de
                         MOMO,&nbsp;&nbsp;entendiéndose como ello: todas las marcas
                         registradas y/o usadas en México o en el extranjero por MOMO;
                         todo derecho sobre invenciones (patentadas o no), diseños
                         industriales, modelos de utilidad, información confidencial,
                         nombres comerciales, secretos industriales, avisos
                         comerciales, reservas de derechos, nombres de dominio; así
                         como todo tipo de derechos patrimoniales sobre obras y
                         creaciones protegidas por derechos de autor y demás formas de
                         propiedad industrial o intelectual reconocida o que lleguen a
                         reconocer las leyes correspondientes</span
                       ><span style="font-weight: 300;">.</span>
                     </p><p>&nbsp;</p><p>
                       <span style="font-weight: 300;"
                         >El Usuario reconoce y acepta que MOMO es legítimo
                         propietario, o tiene los derechos necesarios, sobre la
                         Plataforma, incluidos los nombres comerciales de MOMO, marcas
                         comerciales, marcas de servicio, logotipos, nombres de dominio
                         y otras características distintivas de la marca contenidas en
                         ellos (las “</span
                       ><span style="font-weight: 300;"
                         >Marcas Registradas de MOMO</span
                       ><span style="font-weight: 300;"
                         >”), independientemente de que esos derechos estén registrados
                         o no, y de cualquier lugar del mundo en el que puedan existir
                         esos derechos, y que están protegidos por las leyes y tratados
                         internacionales sobre propiedad industrial y derecho de autor.
                         Por lo anterior, el Usuario acepta que las Marcas Registradas
                         de MOMO no podrán ser objeto de copia, reproducción,
                         modificación, publicación, carga, envío, transmisión o
                         distribución en modo alguno. Salvo indicación expresa en
                         contrario en este documento, MOMO no concede al Usuario ningún
                         derecho expreso ni implícito en virtud de patentes, derecho de
                         autor, marcas comerciales o información de secretos
                         industriales. El Usuario reconoce y conviene que la
                         Plataforma, así como todos los diseños del mismo, son y, serán
                         en todo momento, propiedad de MOMO.</span>
                     </p><h1>&nbsp;</h1><h1>
                       <span style="font-weight: 300;">Retroalimentación</span><span
                         style="font-weight: 300;"
                         >. En caso de que el Usuario proporcione algún comentario a
                         MOMO respecto de la funcionalidad y el rendimiento de la
                         Plataforma (incluida la identificación de posibles errores y
                         mejoras), en este acto, el Usuario autoriza a MOMO para que
                         haga uso, sin restricción, de todos los derechos, títulos e
                         intereses sobre los comentarios expresados. Lo anterior, sin
                         que ello se considere como un derecho moral del Usuario para
                         requerir participación o retribución monetaria alguna, o
                         restricción en el uso de dichos comentarios para su
                         explotación por parte de MOMO.</span>
                     </h1><p><span style="font-weight: 300;">&nbsp;</span></p><ol
                       start="20"
                     >
                       <li><b> OTRAS DISPOSICIONES</b></li>
                     </ol><p>
                       <span style="font-weight: 300;"
                         >El Usuario acepta que una versión impresa de los presentes
                         Términos, y de cualquier comunicación enviada y/o recibida en
                         forma electrónica, será admisible como medio probatorio en
                         cualquier procedimiento judicial y/o administrativo.</span>
                     </p><p>&nbsp;</p><ol start="21">
                       <li>
                         <b>
                           MODIFICACIÓN DE LOS TÉRMINOS Y CONDICIONES DE USO DE LA
                           PLATAFORMA</b>
                       </li>
                     </ol><p>
                       <span style="font-weight: 300;"
                         >MOMO se reserva el derecho de, en cualquier momento,
                         modificar y/o renovar unilateralmente y sin previo aviso los
                         términos y condiciones de uso de la Plataforma, con la
                         obligación de publicar un mensaje en la Plataforma que
                         contenga un aviso al Usuario de que han sido realizadas
                         ciertas modificaciones a los Términos. Será derecho exclusivo
                         del Usuario, el aceptar o rechazar dichas modificaciones. En
                         caso de que el Usuario no esté de acuerdo con las
                         modificaciones hechas, podrá enviar solicitud de cancelación y
                         terminación de su cuenta en la Plataforma, al Correo
                         Electrónico. MOMO se compromete a hacer efectiva la
                         cancelación de la cuenta en un plazo no mayor a 30 (treinta)
                         días naturales, a partir de la fecha de recepción de la
                         solicitud del Usuario.&nbsp;&nbsp;</span>
                     </p><p>&nbsp;</p><p>
                       <span style="font-weight: 300;"
                         >Asimismo, MOMO se reserva el derecho, en cualquier momento y
                         sin previo aviso, de eliminar o deshabilitar el acceso del
                         Usuario a la Plataforma. El Usuario siempre dispondrá de los
                         Términos en la Plataforma de forma visible, y libremente
                         accesible para cuantas consultas quiera realizar. En cualquier
                         caso, la aceptación de estos Términos será un paso previo e
                         indispensable a la adquisición de cualquier Servicio.&nbsp;</span>
                     </p><p>&nbsp;</p><ol start="22">
                       <li><b> DIVISIBILIDAD&nbsp;</b></li>
                     </ol><p>
                       <span style="font-weight: 300;"
                         >En caso de que cualquier término, condición o estipulación
                         contenida en estos Términos se determine ineficaz, ilegal o
                         sin efecto, el mismo podrá ser excluido del cuerpo del
                         presente y el restante continuará en vigor y efecto en forma
                         tan amplia como en derecho proceda.</span>
                     </p><p>&nbsp;</p><ol start="23">
                       <li><b> ACTUALIZACIONES&nbsp;</b></li>
                     </ol><p>
                       <span style="font-weight: 300;">MOMO</span><span
                         style="font-weight: 300;"
                       >
                         podrá revisar y actualizar, en cualquier momento,
                       </span><span style="font-weight: 300;">estos Términos</span
                       ><span style="font-weight: 300;"
                         >, manteniendo en todo momento el acceso libre a todo usuario
                         que desee conocerlo. MOMO
                       </span><span style="font-weight: 300;"
                         >se reserva el derecho de modificar, en cualquier momento, la
                         presentación y configuración de la Plataforma, así como estos
                         Términos. Por ello,
                       </span><span style="font-weight: 300;">MOMO </span><span
                         style="font-weight: 300;"
                         >recomienda al Usuario dar lectura atenta cada vez que acceda
                         a la Plataforma. No obstante lo anterior, el Usuario siempre
                         dispondrá de estos Términos en la Plataforma, de forma visible
                         y accesible en cualquier momento.
                       </span><span style="font-weight: 300;"
                         >Algunas cláusulas de
                       </span><span style="font-weight: 300;"
                         >estos Términos
                       </span><span style="font-weight: 300;"
                         >pueden estar supeditadas a términos y condiciones designados
                         expresamente y que se encuentren en
                       </span><span style="font-weight: 300;"
                         >la Plataforma
                       </span><span style="font-weight: 300;"
                         >o en determinados sitios web</span
                       ><span style="font-weight: 300;">.</span>
                     </p><p>&nbsp;</p><ol start="24">
                       <li><b> DERECHOS.&nbsp;</b></li>
                     </ol><p>
                       <span style="font-weight: 300;"
                         >Cualquier derecho que no se haya conferido expresamente en
                         este documento, se entiende reservado a MOMO.</span>
                     </p><p>&nbsp;</p><ol start="25">
                       <li><b> LEY Y JURISDICCIÓN APLICABLE</b></li>
                     </ol><p>
                       <span style="font-weight: 300;"
                         >En todo lo relacionado con la interpretación y cumplimiento
                         de lo aquí dispuesto, las Partes aceptan someterse a las
                         legislación federal de México y a la jurisdicción de los
                         tribunales competentes en la Ciudad de México; renunciando a
                         cualquier otra jurisdicción que, por razón de sus domicilios
                         presentes o futuros, pudiese corresponderles.</span>
                     </p><p>&nbsp;</p><ol start="26">
                       <li><b> FORMA DIGITAL, ELECTRÓNICA O EN LÍNEA</b></li>
                     </ol><p>
                       <span style="font-weight: 300;"
                         >La Partes acuerdan que la forma para perfeccionar el acuerdo
                         de voluntades entre ellas es el de formato Digital,
                         Electrónico o en Línea, en donde bastará manifestar su
                         voluntad por medio de la aceptación de los presentes Términos,
                         así como proporcionar los datos personales e información
                         bancaria en la Plataforma o en las distintas aplicaciones de
                         los licenciantes, sin requerir estampar la firma en documento
                         alguno.</span>
                     </p><p>&nbsp;</p><ol start="27">
                       <li><b> ACEPTACIÓN DE LOS TÉRMINOS&nbsp;</b></li>
                     </ol><p>
                       <span style="font-weight: 300;">El </span><span
                         style="font-weight: 300;"
                         >Usuario
                       </span><span style="font-weight: 300;"
                         >reconoce que, mediante el acceso, suscripción y uso de
                       </span><span style="font-weight: 300;"
                         >la Plataforma, los Servicios y/o Contenidos o derivados,
                       </span><span style="font-weight: 300;"
                         >manifiesta su aceptación plena y sin reservas y, por tanto,
                         su adhesión a la versión de los Términos publicada en el
                         momento en que acceda a
                       </span><span style="font-weight: 300;">la Plataforma</span><span
                         style="font-weight: 300;"
                         >, en términos de lo establecido por los artículos 1803 y 1834
                         Bis del Código Civil Federal, 80, 81, 89 y demás relativos y
                         aplicables del Código de Comercio y la legislación aplicable
                         para México.
                       </span><span style="font-weight: 300;"
                         >Es responsabilidad única y exclusiva del Usuario, leer
                         previamente estos Términos y sus modificaciones
                         correspondientes, cada vez que accede a la Plataforma. Si en
                         cualquier momento, el Usuario no estuviera de acuerdo, total o
                         parcialmente con los presentes Términos, deberá abstenerse
                         inmediatamente de acceder y usar la Plataforma y los Servicios
                         provistos.&nbsp;Por lo anterior, con la aceptación de los
                         presentes Términos, el Usuario consiente expresamente
                         sujetarse a los mismos, celebrando así un acuerdo de uso de
                         Plataforma con MOMO, por lo que manifiesta haber leído el
                         contenido de todas y cada una de las disposiciones y ratifica
                         su contenido.</span>
                     </p><p>&nbsp;</p><ol start="28">
                       <li><b> ACUERDO TOTAL</b></li>
                     </ol><p>
                       <span style="font-weight: 300;"
                         >El Usuario reconoce y acepta que MOMO puso a su disposición
                         toda la información necesaria para entender el alcance y
                         características de la Plataforma y los Servicios. De igual
                         forma, manifiesta que, previo al acceso a la Plataforma,
                         analizó las características de esta y, por consiguiente, está
                         de acuerdo con ella.</span>
                     </p><p>&nbsp;</p><p>
                       <span style="font-weight: 300;"
                         >Fecha de primera emisión: 30 de Marzo de 2024.</span>
                     </p><p><br /><br /><br /></p>
                   </´p>
                 </div>
               </div>
             </div>
           </div>
       
         
    </body>
</html>
 