---
import "../styles.css";
---

<style>
  body {
    font-family: "Stacion", sans-serif;
    width: 80%;
    margin: auto;
    font-size: 1.25rem;
    padding-top: 20px;
  }
  p {
    margin: 1em 0;
  }
  h1,
  h2 {
    text-align: left;
  }
  li {
    list-style: decimal;
  }
</style>

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0"
    />
    <title>Terminos y condiciones MOMO Coffee</title>
  </head>
  <body>
    <h1>
      TÉRMINOS Y CONDICIONES DE USO DEL SOFTWARE A TRAVÉS DE PLATAFORMA DIGITAL
      O APLICACIÓN WEB Y/O MÓVIL.
    </h1>

    <p>
      Los Términos y Condiciones de uso que a continuación se presentan (los
      “Términos”) constituyen el acuerdo íntegro entre MOMO KAWA, S.A.P.I. de
      C.V., sus filiales y/o subsidiarias, y/o sus partes relacionadas (“MOMO”),
      quien es legítimo propietario o autorizado para comercializar y usar el
      Software denominado “momocoffee” para su acceso vía web o a través de la
      aplicación móvil www.momocoffee.app (la “Plataforma”) con domicilio en
      Avenida Insurgentes Sur No. 670 Piso 5B en la colonia Del Valle Centro,
      Delegación Benito Juaréz, CDMX, 03100 (el “Domicilio”), dirección
      electrónica www.momocoffee.mx (el “Sitio”) y con correo electrónico de
      contacto info@momocoffee.app (el “Correo Electrónico”); y la persona
      física y/o moral que acceda a ella. La utilización de la Plataforma, por
      parte de cualquier persona, le atribuye la calidad de usuario (el
      “Usuario”) y ello implica su adhesión plena e incondicional a estos
      Términos.
    </p>

    <ol>
      <li>
        OBJETO MOMO

        <p>
          <p>
            pone la Plataforma a disposición del Usuario, como una herramienta
            tecnológica de acceso mediante dispositivos digitales electrónicos,
            tales como: computadora, teléfono inteligente, tablet, etc.; con la
            finalidad principal de brindar el servicio de información de los
            servicios y productos alimenticios y bebidas que ofrece MOMO al
            público, así como la orden y entrega de bebidas no alcohólicas y
            alimentos elaborados por MOMO o por terceros (los “Servicios”). Toda
            la información, datos e imágenes publicadas en la Plataforma son
            proporcionadas por MOMO, o por personas vinculadas de manera directa
            o indirecta con él (los “Contenidos”). Para MOMO es muy importante
            la satisfacción del Usuario respecto a los Servicios brindados a
            través de la Plataforma, no obstante lo anterior, MOMO no garantiza
            la resolución efectiva de todas las necesidades del Usuario.
          </p>
          <p>
            Los Servicios se prestan en la modalidad de Platform as a Service
            (el “PaaS”), que implica que el Usuario tiene acceso a los Servicios
            contenidos en la nube (como se define más adelante), cuyo pago puede
            ser procesado a través del uso de determinados motores de pago
            dispuestos por MOMO o mediante el método de pago en efectivo, según
            haya elegido el Usuario al crear una orden de servicio. El Software
            tiene las siguientes funcionalidades:
          </p>
        </p>
        <ol>
          <li>
            Registro del Usuario. Mediante la recabación de información
            necesaria para la identificación del Usuario.
          </li>
          <li>
            Generación de comanda. Ya sea a través de los módulos digitales
            dispuestos por MOMO o mediante la aplicación móvil de la Plataforma,
            el Usuario podrá generar la comanda de los productos de su elección
            con base en las imágenes y datos publicados por MOMO en la
            Plataforma.
          </li>
          <li>
            Elección de consumo; donde el Usuario podrá definir entre las
            opciones de consumo en sitio, pedido por anticipado (pre order) o
            envio a domicilio, a través de las plataformas de entrega operados
            por los socios comerciales de MOMO.
          </li>
          <li>
            Pago en Línea. Con base a la comanda y elección de comanda que
            genere el Usuario, MOMO pone a disposición del mismos diferentes
            medios de pago y uso de motores de pago de terceros.
          </li>
        </ol>
      </li>

      <p>
        El Usuario acepta cumplir con todos y cada uno de los procedimientos que
        las leyes aplicables señalen, respecto a la adquisición de servicios en
        línea o digitales; y, por su parte, MOMO se compromete a respetar y
        hacer cumplir los derechos del Usuario y dar un correcto uso a los datos
        que se recaben con dicho propósito, conforme al Aviso de Privacidad que
        se encuentra en la Plataforma.
      </p>

      <li>
        USO CONTRACTUAL DE LA PLATAFORMA. En virtud de los presentes Términos,
        MOMO autoriza y otorga al Usuario el uso y goce de 1 (una) licencia de
        uso de la Plataforma para uso personal, misma que implica el registro y
        acceso de la misma. Dicho otorgamiento se realiza bajo la modalidad “as
        is”, temporal, de manera no exclusiva, no comercializable y no
        sublicenciable, para la adquisición de los Servicios.
      </li>

      <p>
        Contratación Electrónica. El Usuario reconoce que el uso y acceso a la
        Plataforma incluye la capacidad de celebrar contratos para adquirir los
        Servicios y/o a realizar transacciones electrónicamente. Por lo
        anterior, el Usuario reconoce que los envíos electrónicos constituyen su
        aceptación e intención de obligarse y pagar, en tiempo y forma, por
        tales servicios y transacciones. Dicha obligación se considerará
        aplicable a todos los registros relacionados a todas las transacciones
        que se realicen a través de la Plataforma y los Servicios, incluyendo
        los avisos de cancelación, políticas de uso, contratos y aplicaciones.
        Hospedaje. MOMO hospedará las Licencias en la nube de su elección (nube
        significa espacio de procesamiento y almacenamiento de datos y
        aplicaciones en servidores físicos que están en un Centro de Datos de
        algún tercero). El hospedaje tiene una disponibilidad adecuada. No
        obstante lo anterior, MOMO no será responsable de cualquier caída,
        ausencia total o parcial de disponibilidad, ni de pérdida total o
        parcial de datos. Veracidad de datos. El Usuario reconoce que MOMO no
        realizará investigación alguna para validar la exactitud y veracidad de
        los datos provistos por el Usuario, por lo que en caso que presentan
        omisiones, inexactitudes o errores, libera de cualquier responsabilidad
        a MOMO, respecto de cualquier daño o perjuicio que dichos actos pudieran
        causarle. Vigencia. Queda entendido que la suscripción a los Servicios
        tendrá una vigencia indefinida, hasta en tanto no exista una instrucción
        de baja, bloqueo o cancelación por parte del Usuario, la cual deberá ser
        solicitada por escrito al Correo Electrónico. No obstante, y sin
        perjuicio de lo anterior, los cargos correspondientes a cada Servicio se
        generarán de conformidad a la temporalidad especificada para cada uno,
        en tanto el mismo no sea cancelado en los términos descritos en el
        presente párrafo. Si el Usuario cancela los Servicios, deberá pagar los
        servicios que se hayan prestado hasta la fecha de terminación efectiva.
        Terminación. MOMO, a su absoluta discreción, podrán dar por terminados
        los Servicios, en cualquier momento, bastando para ello un aviso simple
        por escrito en la Plataforma . Precio. El Usuario pagará a MOMO por los
        productos elegidos al ingresar a la Plataforma. El precio de los
        productos dispuestos en la Plataforma, podrán variar de tiempo en
        tiempo, y a discreción única de MOMO, por lo que MOMO no será
        responsable de cualquier menoscabo que dicha alteración de precio
        pudiera causar al Usuario. Métodos de Pago. El Usuario se obliga a
        realizar el pago de los Servicios en pesos mexicanos. El cobro de los
        Servicios, incluyendo cualquier impuesto aplicable, se realizará a
        través de los motores de pago dispuestos y publicados en la Plataforma,
        ofreciendo diferentes modalidades de pago que deberá elegir al crear
        cada orden de servicio, siendo estos: (i) pago en efectivo a
        contraentrega de la orden solicitada; (ii) cargo directo a tarjeta de
        crédito; o (ii) cargo directo a tarjeta de débito; o (iii) mediante el
        uso de los motores de pago. El Usuario, como único responsable del pago
        de los Servicios, se obliga a proporcionar datos reales, válidos y
        vigentes de la tarjeta de crédito, tarjeta de débito o los datos
        solicitados en los motores de pagos, donde se realizará el cargo de la
        orden de servicio correspondiente. De igual manera, el Usuario declara y
        garantiza en este acto que los recursos económicos que serán invertidos
        para el pago de todas y cada una de las obligaciones conferidas al uso
        de los Servicios de la Plataforma provienen de fuentes y/o actividades
        lícitas. En caso de que MOMO no pueda realizar el mencionado cargo al
        motor de pago elegido por el Usuario, MOMO se reserva el derecho de
        revocar o restringir el acceso del Usuario a los Servicios hasta en
        tanto el pago sea realizado en su totalidad. Cualquier cargo operativo,
        o tasa establecidos por los servicios ofrecidos a través de servidores o
        portales de terceros (motores de pago o bancos), están completamente
        regulados por términos y condiciones dispuestos por dichos terceros o
        por las leyes aplicables, por lo cual el Usuario deslinda en este acto a
        MOMO de cualquier responsabilidad respecto a la forma, tiempo y cantidad
        en que sean efectuados los cobros, aún cuando dicho cobro sea
        considerado excedido, indebido o que viole algún derecho del Usuario. De
        esta forma, el Usuario se obliga a mantener en paz y a salvo en todo
        momento a MOMO de cualquier proceso judicial que se llegare a entablar
        por razón del uso de servidores o portales de terceros. Cualquier cambio
        en la forma de pago del Usuario, deberá ser realizado en la Plataforma.
        Dicho cambio podrá generar la interrupción temporal del acceso a los
        Servicios, mientras se realiza la verificación de la nueva información
        otorgada. Facturación. En caso de que el Usuario requiera comprobante
        fiscal, deberá solicitar el mismo al correo electrónico o página web del
        sistema de facturación que a este efecto se indique en el ticket de
        compra para su emisión o. Es condición imprescindible para la emisión de
        dicho comprobante, que el Usuario compruebe fehacientemente el pago de
        los Servicios en cuestión. Comunicaciones de marketing El Usuario acepta
        que MOMO podrá contactarle periódicamente, vía correo electrónico a la
        dirección de correo electrónico asociada a su cuenta de registro, con
        comunicaciones relacionadas con los Servicios, ya sean de: i) promoción
        de productos propios o de terceros; ii) mejora en el servicio; iii)
        cambios en los Servicios, etc.
      </p>

      <li>
        USO Y ACCESO A LA PLATAFORMA Para acceder a los Servicios, es necesario
        ser mayor de edad y proporcionar la información requerida para crear una
        cuenta, de tal manera que es responsabilidad del Usuario mantener la
        información verídica, exacta, actualizada y disponible. Los Productos
        publicados en la Plataforma de MOMO podrán ser adquiridos para uso de
        menores de edad, siempre y cuando sean solicitados por persona mayor de
        edad y con capacidad jurídica y económica para asumir las obligaciones y
        responsabilidades que dicho acto genere. La falta de actualización de su
        cuenta dará lugar a que no pueda acceder y utilizar los Servicios, así
        como la suspensión o cancelación de esta. El Usuario es el único
        responsable frente a MOMO, y cualquier tercero, respecto de su conducta
        al acceder, consultar y proporcionar información en la Plataforma y de
        las consecuencias que se puedan derivar de una utilización, con fines o
        efectos ilícitos o contrarios al objeto de la Plataforma, su contenido,
        elaborado o no por MOMO, publicado o no bajo su nombre de forma oficial;
        así como aquellas consecuencias que se puedan derivar de la utilización
        contraria al contenido de estos Términos que sea lesiva de los intereses
        o derechos de terceros, o que de cualquier forma pueda dañar, inutilizar
        o deteriorar la Plataforma e impedir el normal disfrute de otros
        usuarios.
      </li>
      <li>
        USO DE OTROS PRODUCTOS Y SERVICIOS Los componentes o las funciones de
        los Servicios, incluidos aquellos que implican la compra y descarga de
        productos o servicios adicionales, requieren un software diferente u
        otros acuerdos de licencia o términos de uso, por lo que el Usuario
        deberá leer, aceptar y obligarse a aquellos términos de uso
        establecidos, de manera independiente, como condición para poder
        utilizar estos componentes o características particulares del Servicio.
      </li>
      <li>
        IMPRECISIONES DE LA PLATAFORMA El Contenido de la Plataforma y/o de los
        Servicios provistos, pueden contener inexactitudes y/o errores
        tipográficos. MOMO no garantiza la exactitud del Contenido y se reserva
        el derecho, a su entera discreción, de corregir cualquier error u
        omisión en cualquier parte de la Plataforma y/o los Servicios y a
        realizar cualquier cambio en las características, funcionalidad o
        Contenido en cualquier momento. MOMO, así como cualquier persona
        relacionada y/o afiliada a MOMO, incluyendo, sin limitar, directores,
        apoderados, representantes, administradores, empleados, accionistas y/o
        agentes, presentes o anteriores, o aliados, no serán responsables de
        errores u omisiones en los Contenidos de la Plataforma.
      </li>
      <li>
        ESTANCIA EN LA PLATAFORMA El Usuario es el único responsable frente a
        MOMO, y cualquier tercero, respecto de su conducta al acceder, consultar
        y proporcionar información en la Plataforma y de las consecuencias que
        se puedan derivar de una utilización, con fines o efectos ilícitos o
        contrarios al objeto de la Plataforma, su contenido, elaborado o no por
        MOMO, publicado o no bajo su nombre de forma oficial; así como aquellas
        consecuencias que se puedan derivar de la utilización contraria al
        contenido de estos Términos que sea lesiva de los intereses o derechos
        de terceros, o que de cualquier forma pueda dañar, inutilizar o
        deteriorar la Plataforma e impedir el normal disfrute de otros usuarios
      </li>
      <li>
        RESPONSABILIDAD RESPECTO A LOS CONTENIDOS Uso correcto de los
        Contenidos. El Usuario se compromete a:

        <ol>
          <li>
            utilizar la Plataforma y sus Contenidos de acuerdo a las leyes
            aplicables y de orden público, absteniéndose de realizar acto que
            menoscabe, deteriore, inutilice o dañe la imagen y/o información
            divulgada por MOMO o de alguna manera lesione derechos o intereses
            de terceras personas, vinculadas directa o indirectamente a éste;
          </li>
          <li></li>
          <li></li>
          <li></li>
        </ol>
      </li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
    </ol>
  </body>
</html>
