---
import Pilar from "./Pilar.astro";
---

<section class="bg-blue-200 flex flex-col w-full justify-center">
  <h3
    class="text-blue-800 pt-7 font-[Stacion] font-thin">
    Nuestros pilares en MOMO Coffee
  </h3>
  <div class="grid sm:flex grid-cols-1 md:grid-cols-3  w-full ">
  <Pilar  icon="dadasd" title="dadad" text="adsaasasd"/>
  <Pilar  icon="dadasd" title="dadad" text="adsaasasd"/>
  <Pilar  icon="dadasd" title="dadad" text="adsaasasd"/>
  </div>
</section>
