---
import Pilar from "./Pilar.astro";
import { Image } from "astro:assets";
import phone from "../../public/images/about.svg";
import momo from "../../public/momo.svg";
import manita from "../../public/manita.svg";
import corazon from "../../public/corazon.svg";
---

<section
  class="bg-blue-200 flex flex-col w-full justify-center"
  id="nosotros"
>
  <div class="m-auto pb-8 ]">
    <h3
      class="text-blue-800 pt-7 mb-2 font-[Stacion] font-thin md:ml-3 border-b border-b-blue-800"
    >
      Nuestros pilares en MOMO Coffee
    </h3>
    <div class="grid gap-5 grid-cols-1 md:grid-cols-3 w-full md:gap-10 pr-10">
      <Pilar
        iconUrl={momo}
        title="Asequibles"
        text="Café de calidad asequible para todos. Nos comprometemos a ofrecer productos excelentes a precios justos."
      />
      <Pilar
        iconUrl={manita}
        title="Curiosos"
        text="Innovamos en cada aspecto para brindarte una experiencia excepcional donde cada producto cuenta una historia única."
      />
      <Pilar
        iconUrl={corazon}
        title="Colaborativos"
        text="Colaboramos con tostadores y agricultores comprometidos con prácticas sostenibles y condiciones laborales justas."
      />
    </div>
  </div>
</section>
<section class="flex justify-center">
  <div class="px-12 md:pl-40 pb-8 h-[600px]">
    <h3
      class="text-white pt-7 mb-7 font-[Stacion] font-thin md:ml-3 border-b border-b-white m-auto w-[50%]"
    >
      Acerca de nosotros
    </h3>

    <div class="md:flex-row lg:flex">
      <div class="h-fit">
        <h3 class="text-2xl m-auto pb-2">
          MOMO Coffee es la revolución del café de especialidad:
        </h3>
        <p
          class="content-start font-[Stacion] font-thin pb-5 w-[450px] md:max-w-[550px]"
        >
          Fusionamos tecnología y tradición para ofrecer una experiencia única
          en cada taza. Nos integramos de manera fluida en tu rutina diaria y te
          brindamos un servicio excepcional, con una entrega inmediata y
          priorizando la calidad de nuestros productos.
        </p>

        <div class="">
          <div class="flex py-8">
            <img
              src="/vaso.svg"
              alt="vaso-momo"
              class="h-20"
            />

            <div>
              <h2 class="text-2xl font-[Stacion] font-normal pb-2">
                Nuestra misión
              </h2>
              <p class="max-h-22 text-sm font-thin">
                Hacemos que el café de especialidad sea asequible para todos,
                utilizando tecnología y prácticas sostenibles para impactar
                positivamente en nuestras comunidades.
              </p>
            </div>
          </div>
          <div class="flex">
            <img
              src="/vaso.svg"
              alt="vaso-momo"
            />
            <div>
              <h2 class="text-2xl font-[Stacion] font-normal pb-2">
                Nuestra visión
              </h2>
              <p class="max-h-22 text-sm font-thin">
                En el 2030, lideramos la innovación y la sostenibilidad,
                brindando a cada persona la oportunidad de disfrutar del mejor
                café, generando un impacto global positivo.
              </p>
            </div>
          </div>
        </div>
      </div>
      <Image
        src={phone}
        width={750}
        height={808}
        alt="phone"
        class="hidden lg:block lg:h-[700px]"
      />
    </div>
  </div>
</section>
