---
import Product from "../components/ProductCard.astro";
import data from "../MOCK_DATA.json";
import Test from "../../public/images/test.png";
---

<div class="flex flex-wrap justify-center gap-5 py-10">
  {
    data
      .filter((item) => item.category === "cafe")
      .map((filteredItem) => (
        <Product
          imageUrl={Test}
          name={filteredItem.name}
          description={filteredItem.description}
        />
      ))
  }
</div>
