---
import Form from "../components/Form.astro";
import { Image } from "astro:assets";
---

<style>
  .height {
    height: 750px;
  }
</style>
<section
  id="contacto"
  class="pb-10"
>
  <h3
    class="text-white pt-7 mb-7 font-[Stacion] font-thin border-b border-b-white mx-44"
  >
    Contacto
  </h3>
  <div class="flex gap-20 justify-center">
    <Image
      width={600}
      height={700}
      src="/images/form-image.svg"
      alt="Coffee"
      class="hidden lg:flex object-cover pl-15 rounded-md height"
    />
    <div
      class="flex flex-col justify-start items-center bg-[#2E418E] text-white"
    >
      <div class="text-center mb-8">
        <Image
          width={176}
          height={70}
          src="/logo.svg"
          alt="momo-logo"
          class="mx-auto"
        />
        <h2 class="text-2xl mt-2">Contáctanos</h2>
        <p class="mt-2">Digita tus datos personales</p>
      </div>
      <Form />
    </div>
  </div>
</section>
