---
import Product from "./ProductCard.tsx";
import data from "../MOCK_DATA.json";
---

<div class="flex flex-wrap justify-center gap-5 py-10">
  {
    data
      .filter((item) => item.category === "especiales")
      .map((filteredItem) => (
        <Product
          imageUrl={filteredItem.image}
          name={filteredItem.name}
          description={filteredItem.description}
        />
      ))
  }
</div>
