---

---

<section
  class="bg-blue-900 flex flex-col w-full justify-center"
  id="nosotros"
>
  <div class="m-auto pb-8 ]">
    <h3
      class="pt-7 mb-2 font-[Stacion] font-thin md:ml-3 border-b border-white"
    >
      Nuestra Experiencia
    </h3>
  </div>
</section>
