---
import tablet from "../../public/images/tablet.svg";
import { Image } from "astro:assets";
---

<section
  class="flex justify-center"
  id="experiencia"
>
  <div class="px-20 md:pl-40 pb-8">
    <h3
      class="text-white pt-7 mb-7 font-[Stacion] font-thin md:ml-3 border-b border-b-white m-auto"
    >
      Nuestras Experiencia
    </h3>

    <div class="md:flex-row md:pl-20 lg:flex">
      <div class="h-fit w-fit">
        <h3 class="text-2xl pl-4 pb-2">
          Vive la experiencia MOMO <br /> Coffee
        </h3>
        <p class="content-start font-[Stacion] font-thin pb-5 w-[500px] pl-4">
          Fusionamos tecnología y tradición para ofrecer una experiencia única
          en cada taza. Nos integramos de manera fluida en tu rutina diaria y te
          brindamos un servicio excepcional, con una entrega inmediata y
          priorizando la calidad de nuestros productos.
        </p>

        <div>
          <div class="flex py-8">
            <img
              loading="lazy"
              src="/vaso2.svg"
              alt="vaso-momo"
              class="h-20 pr-3"
            />

            <div>
              <h2 class="text-2xl font-[Stacion] font-normal pb-2">
                Sin filas
              </h2>
              <p class="max-h-22 text-sm font-thin">
                Ordena de manera digital y <br /> sin largas filas.
              </p>
            </div>
          </div>
          <div class="flex">
            <img
              loading="lazy"
              src="/bag.svg"
              alt="bolsa-momo"
              class="pr-3"
            />
            <div>
              <h2 class="text-2xl font-[Stacion] font-normal pb-2">
                Rápido y Seguro
              </h2>
              <p class="max-h-22 text-sm font-thin">
                Tu primera vez en MOMO? Ordena de manera fácil y rápida <br /> a
                través de nuestros kioskos en tienda.
              </p>
            </div>
          </div>
          <div class="flex py-8">
            <img
              loading="lazy"
              src="/manita2.svg"
              alt="app"
              class="pr-3"
            />
            <div>
              <h2 class="text-2xl font-[Stacion] font-normal pb-2">MOMO App</h2>
              <p class="max-h-22 text-sm font-thin">
                ¿Ya eres cliente frecuente? Olvídate de las filas y ordena <br
                /> desde nuestra app… Incluso antes de llegar a nuestra tienda.
              </p>
            </div>
          </div>
        </div>
      </div>
      <Image
        src={tablet}
        width={520}
        height={587}
        alt="phone"
        class="hidden lg:block pl-10"
      />
    </div>
    <div class="w-full flex">
      <button class="bg-[#FF6010] px-5 py-2 my-5 rounded-2xl m-auto w-48"
        >¡Ordena ahora!</button
      >
    </div>
  </div>
</section>
