---
import { Image } from "astro:assets";

const navigation = [
  {
    name: "Inicio",
    href: "#inicio",
  },
  {
    name: "Nosotros",
    href: "#nosotros",
  },
  {
    name: "Menú",
    href: "#menu",
  },
  {
    name: "Tiendas",
    href: "#tiendas",
  },

  {
    name: "Experiencia",
    href: "#experiencia",
  },
  {
    name: "Contacto",
    href: "#contacto",
  },
];
---

<footer class="py-3 md:flex gap-3 justify-evenly items-center w-full h-52">
  <div class="flex justify-center">
    <Image
      src="/logo.svg"
      alt="logo"
      width={155}
      height={48}
    />
  </div>

  <nav class="flex flex-col pl-5 py-5 items-center">
    {
      navigation.map((item) => (
        <a
          class="hover:underline"
          href={item.href}
        >
          {item.name}
        </a>
      ))
    }
  </nav>

  <div class="flex flex-col pl-5 items-center">
    <a
      class="hover:underline"
      href="#"
      >Política de privacidad</a
    >
    <a
      class="hover:underline"
      href="#"
      >Términos y condiciones</a
    >
    <a
      class="hover:underline"
      href="#"
      >Politica de cookies</a
    >
  </div>
  <div class="flex p-5 justify-center gap-4">
    <a href="#">
      <img
        loading="lazy"
        src="/tiktok.svg"
        alt="tiktok"
        class="h-6 w-6"
      />
    </a>
    <a href="#">
      <img
        loading="lazy"
        src="/instagram.svg"
        alt="instagram"
        class="h-6 w-6"
      />
    </a>
    <a
      href=""
      target="_blank"
      rel="noopener noreferrer"
    >
      <img
        loading="lazy"
        src="/linkedin.svg"
        alt="linkedin"
        class="h-6 w-6"
      />
    </a>
  </div>
</footer>
