---

---

<form
  class="space-y-4 max-w-[500px]"
  method="POST"
>
  <div class="relative">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="24"
      height="24"
      viewBox="0 0 24 24"
      fill="none"
      stroke="currentColor"
      stroke-width="2"
      stroke-linecap="round"
      stroke-linejoin="round"
      class="absolute left-4 top-1/2 transform -translate-y-1/2"
    >
      <path d="M19 21v-2a4 4 0 0 0-4-4H9a4 4 0 0 0-4 4v2"></path>
      <circle
        cx="12"
        cy="7"
        r="4"
      ></circle>
    </svg>
    <input
      required
      name="Nombre"
      class="flex h-10 rounded-md border border-input bg-[#2E418E] px-3 py-2 text-sm ring-offset-background file:border-0 file:bg-transparent file:text-sm file:font-medium placeholder:text-muted-foreground focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:cursor-not-allowed disabled:opacity-50 pl-12 w-full"
      placeholder="Nombre"
      type="text"
    />
  </div>
  <div class="relative">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="24"
      height="24"
      viewBox="0 0 24 24"
      fill="none"
      stroke="currentColor"
      stroke-width="2"
      stroke-linecap="round"
      stroke-linejoin="round"
      class="absolute left-4 top-1/2 transform -translate-y-1/2"
    >
      <rect
        width="20"
        height="16"
        x="2"
        y="4"
        rx="2"
      ></rect>
      <path d="m22 7-8.97 5.7a1.94 1.94 0 0 1-2.06 0L2 7"></path>
    </svg>
    <input
      required
      name="correo"
      class="flex h-10 rounded-md border border-input bg-[#2E418E] px-3 py-2 text-sm ring-offset-background file:border-0 file:bg-transparent file:text-sm file:font-medium placeholder:text-muted-foreground focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:cursor-not-allowed disabled:opacity-50 pl-12 w-full"
      placeholder="Correo"
      type="email"
    />
  </div>
  <div class="relative">
    <svg
      class="absolute left-4 top-1/2 pr-3 transform -translate-y-1/2"
      width="36"
      height="35"
      viewBox="0 0 36 35"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path
        d="M27.4363 24.5431L28.0051 29.1514C28.1509 30.3618 26.853 31.2076 25.8176 30.5806L19.7072 26.9493C19.0363 26.9493 18.3801 26.9056 17.7384 26.8181C18.8176 25.5494 19.4592 23.9452 19.4592 22.2097C19.4592 18.0681 15.8717 14.714 11.4384 14.714C9.74675 14.714 8.18634 15.1952 6.88842 16.041C6.84467 15.6764 6.83008 15.3118 6.83008 14.9327C6.83008 8.29725 12.5905 2.91602 19.7072 2.91602C26.8238 2.91602 32.5842 8.29725 32.5842 14.9327C32.5842 18.8702 30.5572 22.3556 27.4363 24.5431Z"
        stroke="#EDEBDF"
        stroke-width="2.5"
        stroke-linecap="round"
        stroke-linejoin="round"
      ></path>
      <path
        d="M19.4577 22.2106C19.4577 23.946 18.816 25.5502 17.7369 26.819C16.2931 28.569 14.0035 29.6919 11.4368 29.6919L7.6306 31.9523C6.98893 32.346 6.17226 31.8065 6.25976 31.0627L6.62434 28.1898C4.67018 26.8336 3.41602 24.6606 3.41602 22.2106C3.41602 19.6439 4.78686 17.3836 6.88686 16.0419C8.18477 15.1961 9.74518 14.7148 11.4368 14.7148C15.8702 14.7148 19.4577 18.0689 19.4577 22.2106Z"
        stroke="#EDEBDF"
        stroke-width="2.5"
        stroke-linecap="round"
        stroke-linejoin="round"
      ></path>
    </svg>

    <select
      name="asunto"
      class="flex h-10 w-full items-center justify-between rounded-md border border-input bg-[#2E418E] px-3 py-2 text-sm ring-offset-background placeholder:text-muted-foreground focus:outline-none focus:ring-2 focus:ring-ring focus:ring-offset-2 disabled:cursor-not-allowed disabled:opacity-50 pl-12"
    >
      <option value="">Seleccione una opción</option>
      <option value="suggestion">Tengo una sugerencia</option>
      <option value="complaint">Tengo una queja</option>
      <option value="inquiry">Bolsa de trabajo</option>
    </select>
  </div>
  <div class="relative">
    <svg
      width="36"
      height="36"
      viewBox="0 0 36 36"
      fill="none"
      class="absolute left-4 top-1/2 transform -translate-y-1/2"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path
        d="M4.875 7.0625H31.125"
        stroke="#EDEBDF"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
      ></path>
      <path
        d="M4.875 14.3535H18.6854"
        stroke="#EDEBDF"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
      ></path>
      <path
        d="M4.875 21.6465H31.125"
        stroke="#EDEBDF"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
      ></path>
      <path
        d="M4.875 28.9375H18.6854"
        stroke="#EDEBDF"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
      ></path>
    </svg>
    <textarea
      name="message"
      rows="5"
      class="flex rounded-md border border-input bg-[#2E418E] px-3 py-2 text-sm ring-offset-background placeholder:text-muted-foreground focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:cursor-not-allowed disabled:opacity-50 pl-12 w-full min-h-[100px]"
      placeholder="Mensaje"
    ></textarea>
  </div>
  <div class="relative">
    <label
      class="label"
      for="uploadFile"
      >Seleccionar archivo</label
    >
    <input
      name="file"
      type="file"
      id="uploadFile"
      class="block w-full text-sm text-gray-900 border border-gray-300 rounded-lg cursor-pointer bg-[#FF6010] focus:outline-none"
    />
  </div>
  <div class="space-y-2">
    <div class="flex items-center space-x-2">
      <input
        type="checkbox"
        id="terms"
        name="Acept terms"
        required
        class="h-4 w-4 shrink-0 rounded-sm border border-primary ring-offset-background focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:cursor-not-allowed disabled:opacity-50"
      />
      <label
        for="terms"
        class="text-sm leading-none"
        >Acepta nuestros <a
          href="/terms"
          class="underline"
          target="_blank"
          rel="noopener noreferer"
          >Términos y Condiciones</a
        > y nuestra <br />
        <a
          href="/privacy"
          target="_blank"
          class="underline"
          rel="noopener noreferer"
          >Política de Privacidad</a
        ></label
      >
    </div>
  </div>
  <div class="flex justify-center">
    <button
      type="submit"
      class="inline-flex items-center justify-center whitespace-nowrap rounded-3xl font-semibold text-lg ring-offset-background transition-colors focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50 hover:bg-primary/90 h-10 px-4 py-2 bg-[#FF6010] text-white w-80"
      >Enviar</button
    >
  </div>
</form>

<style>
  input[type="file"] {
    display: none;
  }
  input,
  select,
  textarea {
    border: 2px solid white;
  }
  .label {
    display: inline-block;
    color: white;
    background: #ff6010;
    padding: 5px 10px;
    border-radius: 20px;
  }
  /* input[type="text"],
  input[type="email"] {
    height: 50px;
  } */
</style>
