---
import { Image } from "astro:assets";
import Burger from "./Burger.astro";
---

<header
  class="bg-[#2E418E] py-3 flex justify-evenly fixed items-center w-full z-50"
>
  <img
    src="/logo.svg"
    alt="logo"
    class="w-[155px] h-12"
  />

  <nav class="hidden lg:flex  flex-row gap-x-10 ">
    <a href="#inicio">Inicio</a>
    <a href="#nosotros">Nosotros</a>
    <a href="#menu">Menú</a>
    <a href="#tiendas">Tiendas</a>
    <a href="#experiencia">Experiencia</a>
    <a href="#contacto">Contacto</a>
  </nav>


<a href="#menu" class="flex gap-1 p-2 bg-orange-500 rounded-md items-center">
<p class="text-sm">Ordenar</p> 
<img src="/public/shopping-cart.svg" alt="cart" width={20}>
</a>

  

  <div class="hidden md:flex  gap-5  ">
    <img
      src="/tiktok.svg"
      alt="tiktok"
    />
    <img
      src="/instagram.svg"
      alt="instagram"
    />
  </div>
<div class="flex lg:hidden"  >
<Burger/>
</div>
    
</header>
