---
import Button from "./Button.astro";
import { Image } from "astro:assets";
import HeroImage from "../../public/images/hero.jpg";
---

<section
  class="pt-20 w-full m-auto"
  id="inicio"
>
  <div class="m-auto justify-between md:flex">
    <div class="py-20 pl-20 m-auto">
      <h2 class="text-4xl pb-11 font-semibold">
        ¡Descubre el café <br /> de una forma única <br /> y para todos!
      </h2>

      <p class="pb-9">
        Próximamente en CDMX. <br /> Pre-regístrate para tener noticias sobre <br
        /> nuestra gran apertura y recibir <br /> promociones exclusivas!
      </p>

      <Button text="Pre-registro" />
    </div>
    <Image
      loading="eager"
      src={HeroImage}
      alt="hero"
      width={720}
      height={722}
      class="hero hidden lg:flex"
    />
  </div>
</section>

<style>
  p {
    font-family: "Stacion";
    font-weight: 400;
  }
</style>
