---
import Button from "./Button.astro";
---

<section
  class="pt-20 w-full m-auto"
  id="inicio"
>
  <div class="m-auto justify-between md:flex">
    <div class="w-96 py-20 px-4 m-auto">
      <h2 class="text-4xl pb-11">
        ¡Descubre el café de una forma única <br /> y para todos!
      </h2>

      <p class="pb-9">
        Próximamente en CDMX. <br /> Pre-regístrate para tener noticias sobre nuestra
        gran apertura y recibir <br /> promociones exclusivas!.
      </p>

      <Button text="Pre-registro" />
    </div>
    <img
      src="images/hero.jpeg"
      alt="hero"
      width={722}
      class="hero hidden lg:flex"
    />
  </div>
</section>

<style>
  .hero {
    clip-path: circle(100.8% at 100% 53%);
  }

  p {
    font-family: "Stacion";
    font-weight: 400;
  }
</style>
