<div>
  <h2 class="text-3xl flex justify-center py-4">Partners</h2>

  <div class="flex gap-x-4 items-center justify-around p-4">
    <img
      src="/buna.svg"
      alt="buna"
    />
    <img
      src="/saint.svg"
      alt="saint"
    />
    <img
      src="/exploradores.svg"
      alt="exploradores de café"
    />
  </div>
</div>
