---
import type { ImageMetadata } from "astro";
import { getImage } from "astro:assets";
import { Image } from "astro:assets";

interface Props {
  iconUrl: string | ImageMetadata;
  title: string;
  text: string;
}
const { iconUrl, title, text } = Astro.props;

const Img = await getImage({
  src: iconUrl,
});
---

<div class="w-72">
  <div class="flex justify-center pt-2">
    <Image
      loading="eager"
      width={60}
      height={40}
      src={Img.src}
      alt={title}
    />
  </div>

  <h2 class="text-blue-800 text-center font-bold text-2xl py-5">
    {title}
  </h2>
  <p class="text-blue-800 font-[Stacion] font-extralight content-start pl-8">
    {text}
  </p>
</div>
