---
import StoreCard from "../components/StoreCard.astro";
import SoonStore from "../components/SoonStore.astro";
---

<section
  class="bg-[#D5EAFB] flex flex-col w-full justify-center"
  id="tiendas"
>
  <div class="pb-6 md:pl-36">
    <h3
      class="text-blue-800 pt-7 mb-2 font-[Stacion] font-thin md:ml-3 border-b border-b-blue-800 w-[80%] m-auto"
    >
      Nuestras Tiendas
    </h3>
  </div>
  <p class="text-blue-800 text-center font-[Stacion] font-normal text-2xl">
    Encuentra tu café MOMO más cercano. <br /> Explora nuestras ubicaciones
  </p>

  <div class="py-3">
    <swiper-container
      class="mySwiper"
      effect="cards"
      grab-cursor="true"
      keyboard="true"
      navigation="true"
    >
      <swiper-slide>
        <StoreCard
          location="https://maps.app.goo.gl/yZF6rmMrGTNFfE8g6"
          name="Narvarte"
          address="Dr. José María Vértiz 867, Col. Narvarte Oriente, Benito Juárez CDMX"
        /></swiper-slide
      >
      <swiper-slide> <SoonStore name="Col. Del Valle" /></swiper-slide>
      <swiper-slide> <SoonStore name="Roma Norte" /></swiper-slide>
    </swiper-container>

    <script
      src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-element-bundle.min.js"
    ></script>
  </div>
  <section>
    <style>
      swiper-container {
        width: 240px;
        height: 580px;
      }

      swiper-slide {
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 18px;
        font-weight: bold;
        color: #fff;
      }
    </style>
  </section>
  <script
    src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-element-bundle.min.js"
  ></script>
</section>
