---
import Carrusel from "./Carrusel.astro";
---

<section
  class="bg-[#D5EAFB] flex flex-col w-full justify-center"
  id="tiendas"
>
  <div class="pb-6 md:pl-36">
    <h3
      class="text-blue-800 pt-7 mb-2 font-[Stacion] font-thin md:ml-3 border-b border-b-blue-800 w-[80%] m-auto"
    >
      Nuestras Tiendas
    </h3>
  </div>
  <p class="text-blue-800 text-center font-[Stacion] font-normal text-2xl">
    Encuentra tu café MOMO más cercano. <br /> Explora nuestras ubicaciones
  </p>
  <Carrusel />
</section>
