---
import Header from "../components/Header.astro";
import "@fontsource-variable/red-hat-display";
interface Props {
  title: string;
}
const { title } = Astro.props;
---

<!doctype html>
<html
  lang="en"
  class="md:w-[100%] overflow-x-hidden"
>
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0"
    />
    <link
      rel="stylesheet"
      href="/styles.css"
    />
    <title>{title}</title>
  </head>
  <body>
    <Header />
    <slot />
  </body>
</html>
